
.qwerty div p {
    font-size: 22 !important;
    font-family:   Calibri,  sans-serif ;
    
}


.qwerty div ol li {
    font-size: 22px !important;
    font-family:   Calibri, sans-serif ;
}

/* 
 strong{
     text-align: initial !important;
 } */